.form-container {
    width: 100%;
    max-width: 600px; /* Adjust as needed */
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #2c2a2a;
  }
  
  .name-container,
  .character-container,
  .playstyle-container,
  .description-container {
    margin-bottom: 20px;
  }
  

input {
    margin-top: 10px;
    width: 98%;
    height: 45px;
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 20px;
    padding-left: 10px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 0px;
}

textarea {
    border-radius: 8px;
    width: 100%;
    border: 1px solid transparent;
    font-size: 20px;
    font-family: inherit;
}

input[type="radio"] {
    margin-right: 100px;
    margin-top: 0px;
}

input[type=submit] {
    width: 30%;
    height: 50px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 20px;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    color:white;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-top: 20px;
    margin-left: 100px;
  }

input[type=submit]:hover {
    border-color: #f17500;
}

input[type="submit"],
.deleteButton {
  margin: 0 5px; /* Add space between buttons */
  margin-left: 75px;
}


.deleteButton {
    width: 30%;
    height: 50px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 20px;
    font-weight: 500;
    font-family: inherit;
    background-color: #870404;
    color:white;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-top: 20px;
    margin-bottom: 50px;
}

.deleteButton:hover {
    border-color: #f17500;
}

img {
    max-width: 200px; /* Adjust as needed */
}

.playstyle-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .playstyle-container input[type="radio"] {
    margin-right: 5px;
    transform: translateY(40px); /* Adjust vertical alignment */
  }

  .character-container {
    margin-bottom: 20px;
    height: 180px; /* Set a fixed height for the container */
    overflow: hidden; /* Hide overflow content */
  }
  
  .character-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .character-container select {
    width: calc(60% - 110px); /* Adjust as needed */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .character-container img {
    max-width: 100px; /* Adjust as needed */
    margin-left: 30px; /* Add space between image and select */
    vertical-align: bottom; /* Align image vertically */
  }
  
  